<table class="table">
    <thead>
        <tr>
            <th>Wann</th>
            <th>Was</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for e in events %}
            <tr>
                <td>
                    {% if e.date %}am {{ frappe.utils.get_datetime(e.date).strftime('%d.%m.%Y') }}{% endif %}
                    {% if e.time %} um {{ e.time }}{% endif %} 
                    {% if e.location %}<br>{{ e.location }}{% endif %}
                </td>
                <td>
                    <b>{{ e.title }}</b><br>
                    {{ e.description or "" }}
                </td>
                <td>
                    {% if e.with_subscription %}
                        <a href="/anmeldung-{% if e.simple_subscription %}einfach{% else %}kundenevent{% endif %}?event={{ e.name }}"><i class="fa fa-edit" style="font-size: 12px; "></i> Zur Anmeldung</a><br>
                    {% endif %}
                    {% if e.attachment %}
                        <a href="{{ e.attachment }}" target="_blank"><i class="fa fa-file" style="font-size: 12px; "></i> Mehr Details</a><br>
                    {% endif %}
                    <a href="/api/method/cobinet.cobinet.calendar.get_event?event={{ e.name }}"><i class="fa fa-calendar" style="font-size: 12px; "></i> Kalendereintrag</a>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
